<div class="weatherApp__container">
  <div class="weatherApp__box--upper">
    <img src="../assets/cold-temp.jpg" alt="Cold temperature image" *ngIf="false">
    <img src="../assets/neutral-temp.jpg" alt="Optimal temperature image" *ngIf="false">
    <img src="../assets/hot-temp.jpg" alt="Hot temperature image" *ngIf="true">
    <div class="weatherApp__data--upper">
      <div class="location">Warszawa</div>
      <div class="temperature">{{15.5 | number: '1.0-0'}}°C</div>
    </div>
  </div>
  <div class="weatherApp__box--lower">
    <h3>More Information</h3>
    <div class="weatherApp__data--lower">
      <div class="data__box">
        <div class="box__img">
          <img src="../assets/min.png" alt="Min temperature icon">
          <span>min</span>
        </div>
        <div class="box__value">
          {{10}}°C
        </div>
      </div>
      <div class="data__box">
        <div class="box__img">
          <img src="../assets/max.png" alt="Max temperature icon">
          <span>max</span>
        </div>
        <div class="box__value">
          {{20}}°C
        </div>
      </div>
      <div class="data__box">
        <div class="box__img">
          <img src="../assets/humidity.png" alt="Humidity icon">
          <span>humidity</span>
        </div>
        <div class="box__value">
          {{10}}%
        </div>
      </div>
      <div class="data__box">
        <div class="box__img">
          <img src="../assets/wind.png" alt="Wind icon">
          <span>wind</span>
        </div>
        <div class="box__value">
          {{10}} <div class="speed">
          <span>km</span><span>h</span>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
