@import "style/common.scss";

.weatherApp {
  &__container {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    box-shadow: 10px 10px 10px 10px #1b1a1a;
    border-radius: 20px;
  }

  &__searchBox {
    text-align: center;

    input {
      outline: none;
      border: none;
      border-radius: 20px;
      padding: 0.8rem;
      text-align: center;
      background: $color-background1;
    }
  }

}
